.site-footer {
  background-color: #0d2842;
  color: #ffffff;
  padding: 40px 0;
  font-family: 'Ubuntu', sans-serif;
  width: 100%;
}

.profile {
  text-align: center;
  width: 100%;
  position: relative;
  z-index: 10;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  position: relative;
  z-index: 1;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
}

.profile-description {
  text-align: left;
  max-width: 600px;
  margin: 20px auto;
}

.footer-container > section {
  flex: 1 1 250px; /* Allow the sections to shrink and grow */
  margin: 20px;
}


h3 {
  font-size: 1.5rem;
}

.about-us h3 {
  color: #FFB901;
}

.instagram h3 {
  color: #DE6262;
}

.mastodon h3 {
  color: #19B2DE;
}

.track-us h3 {
  color: #ffffff;
}

.instagram-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.instagram-grid img:nth-child(9) {
  visibility: hidden;
}

.color-squares {
  display: flex;
  gap: 5px;
}

.square {
  width: 30px;
  height: 30px;
}

.blue {
  background-color: #527CC4;
}

.red {
  background-color: #E46145;
}

.lightblue {
  background-color: #00B0E2;
}

.pink {
  background-color: #F6679C;
}

.yellow {
  background-color: #FFB901;
}

.email-form {
  display: flex;
  align-items: center;
  gap: 0;
}

.email-form input {
  padding: 12px;
  flex: 1;
  border: none;
  border-radius: 5px 0 0 5px;
  background-color: #DE6262;
  color: white;
  height: 40px;
}

.email-form button {
  background-color: #FFB901;
  padding: 0 12px;
  border: none;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  height: 40px;
}

.email-form button img {
  width: 20px;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
}


