
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;

  font-family: 'ubuntu', serif;
}



/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-family: "Ubuntu", serif;
}



/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/* Already mobile first!!!!*/

/* Sharleen's section */

/* blog */
.blog-title {
  text-align:center;
}

.blog-caption {
  text-align: center;
}

.blog-entry {
  display: grid;
  grid-template-columns: 1fr; /* single column for mobile */
  gap: 16px;
  padding: 15px;
}

.blog-image{
  width: 100%;
}

/* gallery*/

.gallery-title{
  text-align: center;
} 

.gallery-caption {
  text-align: center;
}

.gallery-grid{
  display: grid;
  grid-template-columns: 1fr; /* Single column for mobile */
  gap: 16px;
  padding: 15px;
}

.gallery-image{
  width: 100%;
}

/* clients */
.clients-logos{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*3 columns*/
  gap: 16px;
}

.clients-title {
  text-align: center
}

.clients-caption {
  text-align: center;
}


/* tablet */
@media screen and (min-width: 632px){
  .blog-entry {
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "blog1 blog1"
      "blog2 blog3";
    width: auto;
  }
  .blog-item:first-child{
    grid-area: blog1;
  }
  .blog-item:nth-child(2){
    grid-area: blog2;
  }
  .blog-item:nth-child(3){
    grid-area: blog3;
  }


  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .clients-logos {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

/* desktop */
@media screen and (min-width: 1440px){

.blog-entry{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "blog1 blog2 blog3";
  margin: 10px 150px 10px 150px;
  width:auto;
}
.blog-entry:first-child {
  grid-area: "blog1";
}
.blog-entry:nth-child(2){
  grid-area: "blog2";
}
.blog-entry:nth-child(3){
  grid-area: "blog3";
}

.gallery-grid{
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10px 150px 10px 150px;
}

.clients-logos{
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  margin: 10px 150px 10px 150px;
}
}



