
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  font-family: "Ubuntu", serif;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


/* Already mobile first!!!!*/

/* Sharleen's section */

/* blog */
.blog-title {
  text-align:center;
}

.blog-caption {
  text-align: center;
}

.blog-entry {
  display: grid;
  grid-template-columns: 1fr; /* single column for mobile */
  gap: 15px;
  padding: 15px;
}

.blog-image{
  width: 100%;
}

/* gallery*/

.gallery-title .gallery-caption {
  text-align: center;
}

.gallery-grid{
  display: grid;
  grid-template-columns: 1fr; /* Single column for mobile */
  gap: 10px;
  padding: 15px;
}

.gallery-image{
  width: 100%;
}

/* clients */
.clients-logos{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /*3 columns*/
  gap: 10px;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */


/* tablet */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px){
  .blog-entry {
    grid-template-columns: 1fr 1fr; /* 2 columns */
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
      "blog1 blog1"
      "blog2 blog3";
    width: 100%;
  }

  .blog-item:first-child{
    grid-area: blog1;
  }

  .blog-item:nth-child(2){
    grid-area: blog2;
  }

  .blog-item:nth-child(3){
    grid-area: blog3;
  }


  .gallery-grid {
    grid-template-columns: repeat(2, 1fr); 
  }

  .clients-logos {
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
  }
}

/* desktop */
@media only screen and (min-width: 1025px) and (max-width: 1280px){

}



  